*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 62.5%;
  font-family: "Raleway", sans-serif !important;
  scroll-behavior: smooth;
  width: 100%;
  background-color: #fafafa;
}
.container {
  width: 100%;
  min-height: 150vh;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.ql-toolbar.ql-snow,
.ql-container.ql-snow {
  border: 0 !important;
}
.ql-editor {
  min-height: 10rem !important;
}
.ql-editor > * {
  word-break: break-all !important;
}

.ql-text {
  /* max-height: 10rem; */
  /* overflow: clip; */
  width: 100%;
}
.ql-text > * {
  color: rgba(0, 0, 0, 0.87);

  /* width: calc(95%); */
  max-width: 95%;
  /* overflow: hidden; */
  /* text-overflow: ellipsis; */
  /* white-space: nowrap; */
  word-break: break-all;
  display: inline-block;
}
.payment_btn {
  width: 100%;
  max-width: 400px;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  background: teal;
  cursor: pointer;
  color: #fff;
}

.payment_btn:hover {
  background: #333;
}
