*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 62.5%;
  font-family: "Raleway", sans-serif !important;
  scroll-behavior: smooth;
  width: 100%;
  background-color: #fafafa;
}
.container {
  width: 100%;
  min-height: 150vh;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.ql-toolbar.ql-snow,
.ql-container.ql-snow {
  border: 0 !important;
}
.ql-editor {
  min-height: 10rem !important;
}
.ql-editor > * {
  word-break: break-all !important;
}
.ql-editor {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.5;
  letter-spacing: 0.00938em;

  color: #828484;
}
.ql-text {
  width: 100%;
}
.ql-text > * {
  color: rgba(0, 0, 0, 0.87);
  max-width: 95%;
  word-break: break-all;
  display: inline-block;
}
.ql-toolbar button {
  width: 2.5rem !important;
  height: 2.5rem !important;
  font-size: 2rem !important;
}
.ql-formats {
  margin-right: 5px !important;
}
.ql-syntax pre {
  background-color: #000;
  color: #fff;
  width: 100%;
  padding: 1rem;
}
.payment_btn {
  width: 100%;
  max-width: 400px;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  background: teal;
  cursor: pointer;
  color: #fff;
}

.payment_btn:hover {
  background: #333;
}

.likes-content > * {
  word-wrap: anywhere;
  white-space: pre-wrap;
  max-width: max-content;
  text-align: justify;
}
