html,
body {
  font-size: 62.5%;
  font-family: "Raleway", sans-serif !important;
  scroll-behavior: smooth;
  background-color: #fafafa;
}
.container {
  width: 100%;
  min-height: 100vh;
  height: 100%;
}
